<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_CLIENT_KEY</key>
	<string>$(API_CLIENT_KEY)</string>
	<key>API_CLIENT_ID</key>
	<string>$(API_CLIENT_ID)</string>
	<key>GIDClientID</key>
	<string>293702682922-6sjp3d5mpnkiqbci571vv70nh6dsmc2t.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.293702682922-6sjp3d5mpnkiqbci571vv70nh6dsmc2t</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
